[submodule "plugins/hockey-scoreboard"]
	path = plugins/hockey-scoreboard
	url = https://github.com/ChuckBuilds/ledmatrix-hockey-scoreboard.git
[submodule "plugins/ledmatrix-leaderboard"]
	path = plugins/ledmatrix-leaderboard
	url = https://github.com/ChuckBuilds/ledmatrix-leaderboard
